@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background: rgb(72,40,140);
  background: linear-gradient(135deg, rgba(36,20,70,255) 0%, rgba(65,38,22,255) 100%);
  background-attachment: fixed;
  color: #cfd2d4;
  background-repeat:no-repeat;
}

#searchbar {
  text-align: center;
}

.form__input {
  position:fixed;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 300px;
  padding: 10px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.65);
  background-color: #111;
  text-align: center;
  left: 34%;
  top: 45%;
  color: #cfd2d4
}

#belowSearch {
  position: fixed;
  left: 43%;
  top: 51%;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #eee
}

a{
  text-decoration: none;
  color:#cfd2d4;
  width:50px;
  height:50px;
  text-align: center;
  align-self: center;
}

x{
  color:#eee;
}

.form__input::placeholder {
  color: #bbb;
  text-align: center;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
#footer {
  position: fixed;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  height:0px;
  background-color: #202124;
  text-align: center;
  color: #cfd2d4;
  font-size: 14px;
}
#mainFont {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #cfd2d4;
}

.fa {
  font-size: 24px;
  color: #cfd2d4;
}

.fa:hover {
  color: #cfd2d4;
}

#topRight {
  position: fixed;
  top: 0;
  right:0;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  color: #cfd2d4;
  font-size: 14px;
}

#topLeft {
  position: fixed;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #cfd2d4;
  font-size: 12px;
}

#bottomLeft {
  position: fixed;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #cfd2d4;
  font-size: 14px;
}

#small {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #cfd2d4;
  font-size: 7px;
  overflow: hidden;
  white-space: nowrap;
}

#bottomRight {
  position: fixed;
  bottom: 0;
  right:0;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #cfd2d4;
  font-size: 14px;
}